.Header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    gap: 2em;
}

.SearchBar {
    border-radius: 78px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 17px;
    width: 23em;
    height: 2em;
    font-size: 20px;
    background: #EFEFEF;
}

.RankedItem {
    margin: 0;
    padding: 1em 1em;
    display: flex;
    gap: 2em;
    width: 20em;
    height: fit-content;
    border-radius: 14px;
    background: #FAFAFA;
}

.RankingAndImg {
    display: flex;
    flex-direction: row;
    gap: 0.50em;
}


p {
    margin-top: 0;
}

.Rating {
    display: flex;
    flex-direction: row;
}

.CardContainer {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 8em;
    height: 14em;
}

.ForYouImage {
    width: fit-content;
    height: 10em;
}

.ForYouDescription p {
    margin: 0;
}
