.TopRankSection {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.TopRankingList {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.Top1, .Top4 {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.ForYouList {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

