.App {
    display: flex;
    flex-direction: column;
}

.TopRankSection {
    display: flex;
    flex-direction: column;
    margin: 0 1em 1em  ;
}

.TopRankingList {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.Top1, .Top4 {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.ForYouSection {
    margin: 1em ;
}

.ForYouList {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.IngredientsList {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
    gap: 2em;
}

.HitIngredientsSection {
    margin: 1em ;
}

Footer {
    margin: 1em 0;
    padding: 2em;
    background: #6F97AD;
    width: 100%;
    height: 2em;
    color: white;
    text-align: center;
}
